form {   
    border-radius: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 27px;
    background-color: white;
    position: absolute;
    margin: 0 auto;
}

#register {
    text-align:center
}

.ui.button {
    margin-bottom: 10px;
}

a {
    cursor: pointer;
}

.ui.grid>.column:not(.row), .ui.grid>.row>.column {
    padding-right: 3rem;
}

@media only screen and (max-width: 600px) {
    .login-main {
        height: 117vh;
    }
    .responsive {
        padding-right: 0rem !important;
        width: 85% !important;
        padding-left: 0.3rem !important;
    }
}   

@media only screen and (max-width: 1000px) {
    .responsive {
        width: 45% !important;
    }
    .login-main {
        height: 105.5vh;
    }
}

@media only screen and (min-width: 1000px) {
    .responsive {
        width: 45% !important;
    }
    .login-main {
        height: 105.5vh;
    }
}

@media only screen and (max-width: 420px) {
    .login-main {
        height: 117vh;
    }
    .responsive {
        padding-right: 0rem !important;
        width: 85% !important;
        padding-left: 0.3rem !important;
    }
}   

@media only screen and (min-width: 1400px) {
    .login-main {
        height: 105.5vh;
    }
    .responsive {
        padding-right: 3rem !important;
        width: 27% !important;
        padding-left: 0.3rem !important;
    }
}

.error{
    color:red;
    text-align:center
}