form {   
    border-radius: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 27px;
    background-color: white;
    position: absolute;
    margin: 0 auto;
}

#register {
    text-align:center
}

.ui.button {
    margin-bottom: 10px;
}

a {
    cursor: pointer;
}

.ui.grid>.column:not(.row), .ui.grid>.row>.column {
    padding-right: 3rem;
}

.error {
    color:red;
    text-align:center
}

.center-form {
    margin: 0px 0px 0px 36.9%;
    width: 25%;
}

@media only screen and (max-width: 1470px) {
    .center-form {
        width: 33% !important;
        margin: 0px 0px 0px 32%;
    }
}

@media only screen and (max-width: 1472px) {
    .center-form {
        width: 39% !important;
        margin: 0px 0px 0px 29%;
    }
}

@media only screen and (max-width: 740px) {
    .center-form {
        width: 47% !important;
        margin: 0px 0px 0px 24%;
    }
}

@media only screen and (max-width: 420px) {
    .center-form {
        width: 85% !important;
        margin: 0px 0px 0px 7%;
    }
}