form{   
    border-radius: 10px;
    height: 260px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 27px;
    background-color: white;
    opacity: 0.9;
    position: absolute;
    margin: 0 auto;
}

#register{
    text-align:center
}

.ui.button{
    float:right
}

a{
    cursor: pointer;
}